@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=The+Nautigal&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Arvo:ital,wght@1,400;1,700&family=The+Nautigal&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Arvo', serif, sans-serif;
  color: #222222;
  background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)),
    url(./Imagens/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-bg {
  background-color: rgba(22, 22, 22, 0);
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: #fff;
}

.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.nav-menu ul {
  display: flex;
  flex-wrap: wrap;
}

.nav-menu a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.nav-menu a:hover {
  color: #d1d80e;
}

.menu-logo a:hover {
  color: #d1d80e;
}

main {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-transform: uppercase;
  color: rgb(158, 156, 12);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

span {
  color: #fff;
}

input {
  padding: 15px;
  width: 50%;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

button {
  width: 25%;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}

button:hover {
  background-color: #d1d80e;
  cursor: pointer;
}
